<footer class="page-footer">
    <div class="container">
        <div class="row">
            <!-- About Us -->
            <div class="col-lg-8 col-md-8 col-sm-12">
                <h6 class="text-uppercase font-weight-bold">About Us</h6>
                <p>At Canine Connect, we believe that every dog deserves a loving home, and every family deserves a loyal companion. Our mission is to connect adoptable dogs with families ready to provide them a pawsome home. </p>
                <p>Through our dedicated team and community partnerships, we strive to make the adoption process seamless, compassionate, and fulfilling for both dogs and owners. </p>
                <p>Join us in giving these wonderful animals a second chance at happiness and building lifelong bonds with their new families. Let's create happy tails together at Canine Connect!</p>
            </div>
            
            <!-- Contact Us -->
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h6 class="text-uppercase font-weight-bold">Contact US</h6>
                <p>
                    Canine Street N, Fargo, North Dakota, 58102
                    <br />canineconnect.services@gmail.com
                    <br />+ 1 222 333 4444
                    <br />+ 1 555 666 7777
                </p>
            </div>
        </div>
        <!-- Copyright -->
        <div class="footer-copyright text-center">© 2024 Canine Connect. All rights reserved.</div>
    </div>
</footer>

@code {

}
