@inherits LayoutComponentBase
@layout MainLayout

@using StateObjects
@inject State state

@if (state.IsUser())
{
    <!-- Body -->
    <div class="my-4 col-md-10 mx-auto">
        @Body
    </div>
}
else
{
    <div class="my-4 col-md-10 mx-auto">
        <h3>403 Error</h3>
        <p>Access denied</p>

        <p>Create an account to gain access to page content.</p>
        <span><a href="/signup/user">Register here</a> or <a href="/login">login</a>.</span>
    </div>
}

