@page "/admin"
@rendermode InteractiveServer

<h3>Admin Pages</h3>

<ul>
    <li>Address: <a href="/admin/addresses">Link</a></li>
    <li>User: <a href="/admin/user">Link</a></li>
    <li>Shelter: <a href="/admin/shelters">Link</a></li>
    <li>Event Posts: <a href="/admin/eventposts">Link</a></li>
    <li>Dog Listings: <a href="/admin/doglistings">Link</a></li>
    <li>Messages: <a href="/admin/messages">Link</a></li>
    <li>Applications: <a href="/admin/applications">Link</a></li>
</ul>

@code {

}
