/*------------------------------------
- COLOR forestgreen
------------------------------------*/
.alert-forestgreen {
    color: #092809;
    background-color: #94e494;
    border-color: #83e083;
}

    .alert-forestgreen hr {
        border-top-color: #6fdb6f;
    }

    .alert-forestgreen .alert-link {
        color: #000000;
    }

.badge-forestgreen {
    color: #fff;
    background-color: #228b22;
}

    .badge-forestgreen[href]:hover, .badge-forestgreen[href]:focus {
        color: #fff;
        background-color: #176217;
    }

.bg-forestgreen {
    background-color: #228b22 !important;
}

a.bg-forestgreen:hover, a.bg-forestgreen:focus,
button.bg-forestgreen:hover,
button.bg-forestgreen:focus {
    background-color: #176217 !important;
}

.border-forestgreen {
    border-color: #228b22 !important;
}

.btn-forestgreen {
    color: #fff;
    background-color: #228b22;
    border-color: #228b22;
}

    .btn-forestgreen:hover {
        color: #fff;
        background-color: #1a6e1a;
        border-color: #176217;
    }

    .btn-forestgreen:focus, .btn-forestgreen.focus {
        box-shadow: 0 0 0 0.2rem rgba(34, 139, 34, 0.5);
    }

    .btn-forestgreen.disabled, .btn-forestgreen:disabled {
        color: #fff;
        background-color: #228b22;
        border-color: #228b22;
    }

    .btn-forestgreen:not(:disabled):not(.disabled):active, .btn-forestgreen:not(:disabled):not(.disabled).active, .show > .btn-forestgreen.dropdown-toggle {
        color: #fff;
        background-color: #176217;
        border-color: #145514;
    }

        .btn-forestgreen:not(:disabled):not(.disabled):active:focus, .btn-forestgreen:not(:disabled):not(.disabled).active:focus, .show > .btn-forestgreen.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(34, 139, 34, 0.5);
        }

.btn-outline-forestgreen {
    color: #228b22;
    background-color: transparent;
    border-color: #228b22;
}

    .btn-outline-forestgreen:hover {
        color: #fff;
        background-color: #228b22;
        border-color: #228b22;
    }

    .btn-outline-forestgreen:focus, .btn-outline-forestgreen.focus {
        box-shadow: 0 0 0 0.2rem rgba(34, 139, 34, 0.5);
    }

    .btn-outline-forestgreen.disabled, .btn-outline-forestgreen:disabled {
        color: #228b22;
        background-color: transparent;
    }

    .btn-outline-forestgreen:not(:disabled):not(.disabled):active, .btn-outline-forestgreen:not(:disabled):not(.disabled).active, .show > .btn-outline-forestgreen.dropdown-toggle {
        color: #fff;
        background-color: #228b22;
        border-color: #228b22;
    }

        .btn-outline-forestgreen:not(:disabled):not(.disabled):active:focus, .btn-outline-forestgreen:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-forestgreen.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(34, 139, 34, 0.5);
        }

.list-group-item-forestgreen {
    color: #092809;
    background-color: #83e083;
}

    .list-group-item-forestgreen.list-group-item-action:hover, .list-group-item-forestgreen.list-group-item-action:focus {
        color: #092809;
        background-color: #6fdb6f;
    }

    .list-group-item-forestgreen.list-group-item-action.active {
        color: #fff;
        background-color: #092809;
        border-color: #092809;
    }

.table-forestgreen,
.table-forestgreen > th,
.table-forestgreen > td {
    background-color: #83e083;
}

.table-hover .table-forestgreen:hover {
    background-color: #6fdb6f;
}

    .table-hover .table-forestgreen:hover > td,
    .table-hover .table-forestgreen:hover > th {
        background-color: #6fdb6f;
    }

.text-forestgreen {
    color: #228b22 !important;
}

a.text-forestgreen:hover, a.text-forestgreen:focus {
    color: #176217 !important;
}
