@rendermode InteractiveServer

@using CanineConnect.Data
@using CanineConnect.Models
@using Microsoft.EntityFrameworkCore

<h4 class="text-center">Account Information</h4>

<!-- Email input -->
<div class="mb-3">
    <label for="email" class="form-label">Email:</label>
    <InputText id="email" @bind-Value="user.Email" class="form-control" aria-required="true" />
    <ValidationMessage For="() => user.Email" class="text-danger" />
</div>

<!-- Password input -->
<div class="mb-3">
    <label for="lastname" class="form-label">Password:</label>
    <InputText id="password" @bind-Value="user.Password" class="form-control" aria-required="true" />
    <ValidationMessage For="() => user.Password" class="text-danger" />
</div>

@code {
    [Parameter, EditorRequired]
    public required User user { get; set; }
}
